@charset "UTF-8";

/*fontes titulos   font-family: "Bungee", sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/*fontes texto   font-family: "Alfa Slab One", serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Old Standard", serif;
}

body {
    background-color: #F6E0BE;
}

header {
    background-color: #1f1915;
    width: 100%;
    padding: 5px 5%;
    font-family: "Alfa Slab One", serif;
}

.nav_logo {
    width: 80px;
    scale: 1.5;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

li a {
    font-family: "Alfa Slab One", serif;
    font-size: 16px;
    text-decoration: none;
    color: #BF6E50;
}

li.active a {
    color: #F6E0BE;
    border-bottom: 3px solid #f6e0be;
}

main {
    display: flex;
    flex-direction: column;
}

#banner {
    text-align: center;
    /*background-color: #F6E0BE;*/
    background-image: linear-gradient(to bottom right, #A2AD91, #A2AD91, #F6E0B3, #F6E0B3);
    width: 100%;
    padding: 40px 5%;
    box-shadow: inset 0 15px 15px #00000043;
}

.titulo {
    font-family: "Alfa Slab One", serif;
}

.imagem_central {
    width: 250px;
    background-color: #1f1915;
    box-shadow: 0px 2px 10px;
    border-radius: 50%;
}

#banner p {
    font: "Alfa Slab One", serif;
    color: #364652;
    margin: 15px;
    font-size: 20px;
    text-shadow: 0 1px 1px #00000063;
}

#cards_sessoes {
    width: 100%;
    background-color: #1f1915;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card_filme {
    width: 200px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px #ffffff42;
    transition: transform 0.3s ease;
    margin-bottom: 18px;
}

.card_filme img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 10px 8%;
    margin: 0;
    background-color: #3646524d;
    border-radius: 0 8px 0;
    z-index: 2;
}

.info p {
    font-family: "Alfa Slab One", serif;
    margin: 0;
    color: white;
    border-radius: 10px;
    font-size: 14px;
}

.card_filme::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #00000000;
  transition: 0.3s ease;
  z-index: 1;
}

.card_filme:hover::before {
  background: #00000080; /* escurece no hover */
}

.card_filme:hover {
    transform: scale(1.05);
}

.rodape {
    padding: 10px;
}
#reserva form {
    background-color: #F6E0B3; /* creme suave semi-transparente */
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 15px #00000033;
}

fieldset {
    width: 100%;
    max-width: 600px;
    border: 6px solid #0c0c0c;
    border-radius: 10px;
    padding: 20px;
}
footer {
    position: relative;
    bottom: 0; /*posiciona no rodapé, funciona se position for != de static*/
    left: 0;
    width: 100%;/*ocupa a largura da tela*/
    background-color: #1f1915;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    z-index: 10;
}

#reserva {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    /* degradê igual ao banner da página principal */
    position: relative;
    background-color: #F6E0B3;
     background-image: url('cine_rebonina.png');
    background-size: cover; /* cobre toda a área */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat; /* evita repetição */
    padding: 40px 5%; /* espaço interno */
    display: flex;
    justify-content: center; /* centraliza horizontalmente o form */
    align-items: center; /* centraliza verticalmente o form */
}

#main_sobre {
    display: flex;
    flex-direction: column; 
}

#sobre {
    background-color: #F6E0BE; /* cor de fundo da seção */
    padding: 80px 50px;
}

#sobre .texto-sobre {
    max-width: 800px; /* largura máxima do texto */
    margin-left: 50px; /* empurra o texto para a direita */
    font-size: 18px; /* aumenta o tamanho da fonte */
    line-height: 1.6; /* espaçamento entre linhas */
    color: #1f1915; /* cor do texto, combina com o site */
}

#sobre h1 {
    font-family: "Alfa Slab One", serif;
    font-size: 36px; /* tamanho do título */
    margin-bottom: 20px;
}

#video-imagem-container {
    width: 100%;
    display: flex;           /* coloca vídeo e imagem lado a lado */
    align-items: center; /* alinha pelo topo */
    padding: 30px 50px;
    background-color: #F6E0BE; /* mesma cor da seção de texto */
    justify-content: space-between;
    flex-wrap: wrap;
   
}

#video-imagem-container .video-container video {
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.imagem {
    width: 400px;
}

#video-imagem-container .imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1000px) {
    .card_filme {
    width: 300px;
    height: 400px;
}   

    #sobre {
        padding: 20px;
    }

    #video-imagem-container {
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 809px) {
    .frame {
        width: 200px !important;
        height: 100px !important;
    }
}

@media screen and (max-width: 450px) {
    #reserva {
        overflow-x: auto;
    }
}